.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.modal__content {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 100px;
  height: 100px;
}
