.card {
  border: 1px solid black;
  background-color: plum;
  width: 175px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card-img {
  width: 150px;
  height: 150px;
}
