@import "./header.scss";
@import "./footer.scss";

body {
  background-color: plum;
  display: flex;
  main {
    color: blue;
  }

  img[alt="2"] {
    width: 200px;
    height: 100px;
  }
}

.more {
  display: flex;
}

.more > button {
  color: blue;
}
